*{
  margin: 0;  padding: 0;
}


a{
  text-decoration: none;
}


kbd {
  border-radius: 4px;
  background-image: -webkit-linear-gradient( 90deg, rgb(38,38,38) 0%, rgb(71,71,71) 100%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45),inset 0px 0px 1px 0px rgba(255, 255, 255, 0.004);
  width: 4em;
  height: 4em;
  display: inline-block;   /*转化为行内块元素才可以设置宽高 */
  text-transform: uppercase;
  position: relative;
}

kbd > button{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;   /*默认不出现 */
  
}  

kbd:hover > button{
  display: inline-block; /*按钮为行内块元素 */
}
 


#main{
  font-family:tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
    
  color: #FFF;
  display: inline-block;
  width: 800px;
  height: 300px;
  background-color: #808080;
  text-align: center;
}


#main > div:nth-child(2) {/*:nth-child 之间不能存在空格   main里面的第二个div  */
  margin-left:1em;
} 


#main > div:nth-child(3) {/*:nth-child 之间不能存在空格   main里面的第三个div  */
  margin-left:2em;
} 
